# Kivy's installation might fail. If it requires 'python.h', use 'sudo apt-get install python3-dev'
# cython and pygame are required by Kivy

cython
kivy
pygame


# Text to speech libraries

pyttsx
gtts
gstreamer-player